h1, h2, h3, p, fieldset  {
  text-align: center;
  }
h1 {
  font-size: 30px;
}
h2 {
  font-size: 20px;;
}
body {
  background: linear-gradient(90deg,rgb(244,194,194)30%,rgb(255,255,255),rgb(137, 207, 240)70%);
}
#foto1 {
  margin: auto;
  display: block;
  width-max: 300px;
  width: auto;
}
#timer {

  margin-top: 10px;
  margin-bottom: 10px;
  color: red;
  font-size: 50px;
  }
.send {
  text-align: center;
}
#jongen, #meisje {
  Display: inline-block;
}
#lengte, #gewicht {
  width: auto;
}
.box {
  min-width: auto;
  padding:fit-content;
  margin:auto;
  max-width: fit-content;
  color
}
