h1, h2, h3, p, fieldset, submit {
  text-align: center;
  }
h1 {
  font-siz: 50px;
}
h2 {
  font-size:40px;
}
body {
  background: linear-gradient(90deg,rgb(244,194,194),rgb(255,255,255),rgb(137, 207, 240));
}
#foto1 {
  margin: auto;
  display: block;
  width: 300px;
}
#timer {
  margin-top: 10px;
  margin-bottom: 10px;
  color: red;
  font-size: 100px;
  }
