h1, h2, h3, p, fieldset {
  text-align: center;
  }
body {
  background-color: linear-gradient(90deg,rgb(0,0,255),rgb(255,0,0))
}
#foto1 {
  margin: auto;
  display: block;
  width: 300px;
}
#timer {
  color: red;
  size: 50px;
  

}
